{% extends 'base.html.twig' %}

{% block title %}Lingua{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li class="active">
                    <a href="javascript:;">Língua</a>
                </li>
            </ol>
        </div>

        <div class="container-fluid-md">
            <a class="btn btn-inverse" href="{{ path('candidato_edit', {'id': candidato.id}) }}">Voltar</a>            

            <a class="btn btn-primary" href="{{ path('candidato_editar_lingua', {'lingua': lingua.id, 'candidato' : candidato.id}) }}">Editar</a>
            
            <table class="table">
                <tbody>   
                    <tr>
                        <th>Id</th>
                        <td>{{ lingua.id }}</td>
                    </tr>         
                    <tr>
                        <th>Descricao</th>
                        <td>{{ lingua.descricao }}</td>
                    </tr>
                    <tr>
                        <th>Nivel_fluencia</th>
                        <td>{{ lingua.nivelFluencia }}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>


{% endblock %}
