{% extends 'base.html.twig' %}

{% block title %}Cargo index{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li class="active">
                    <a href="javascript:;">Cargos</a>
                </li>
            </ol>
        </div>

        <div class="container-fluid-md">
            <a class="btn btn-primary" href="{{ path('cargo_new') }}">Cadastrar</a>
            <br></br>
        </div>

        <div class="container-fluid-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Filtro</h4>            
                </div>
                <div class="panel-body">
                    {{ form_start(filter) }}                
                        <div class="row">
                            <div class="col-sm-5 col-md-3 col-sm-1">
                                {{ form_label(filter.descricao, "Descrição", { 'attr': { 'class': 'control-label'}} ) }}
                                {{ form_errors(filter.descricao) }}
                                {{ form_widget(filter.descricao, { 'attr': { 'class': 'form-control'}} ) }}
                            </div>
                            <div class="col-sm-5 col-md-2 col-sm-1">
                                {{ form_label(filter.area, "Área", { 'attr': { 'class': 'control-label'}} ) }}
                                {{ form_errors(filter.area) }}
                                {{ form_widget(filter.area, { 'attr': { 'class': 'form-control'}} ) }}
                            </div>
                            <div class="col-sm-2 col-md-1 col-sm-1">
                                <button id="submitFiltro" class="btn btn-primary" type="submit" style="margin-top: 23px;" >Filtrar</button>
                            </div>
                        </div>
                    {{ form_end(filter) }}
                </div>
            </div>      
        </div>
        
        <div class="container-fluid-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Cargos</h4>            
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="9%">Id</th>
                                <th width="9%">Área</th>
                                <th width="9%">Descricao</th>
                                <th width="9%">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cargo in cargos %}
                                <tr>
                                    <td>{{ cargo.id }}</td>
                                    <td>{{ cargo.area }}</td>
                                    <td>{{ cargo.descricao }}</td>
                                    <td>
                                        <a class=" btn btn-success" href="{{ path('cargo_show', {'id': cargo.id}) }}">Mostrar</a>
                                        <a class="btn btn-inverse" href="{{ path('cargo_edit', {'id': cargo.id}) }}">Editar</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="26">Sem registros</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>       
    </div>

    {% if totalPaginas > 1 %}
        <div class="container-fluid-md">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        {% if totalPaginas <= 10 %}
                                            {% for i in range(1,  totalPaginas ) %}
                                                <li class="pagina-item {% if pagina == i %} active {% endif %}"><a class="pagina-link" id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                            {% endfor %}
                                        {% else %}
                                            {% if pagina <= 10 %}
                                                {% for i in range(1,  10 ) %}
                                                    <li class="pagina-item {% if pagina == i %} active {% endif %}"><a class="pagina-link" id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                                {% endfor %}
                                                <li class="pagina-item"><a class="pagina-link" id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                                            {% else %}

                                                {% set voltar = ( ( (pagina // 10) - 1 ) * 10 ) + 1 %}
                                                <li class="pagina-item"><a class="pagina-link" id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                                                {% set inicio = voltar + 10 %}
                                                {% set fim = voltar + 19 %}

                                                {% set acabou = false %}
                                                {% for i in range(inicio, fim) %}
                                                    {% if i <= totalPaginas %}
                                                        <li class="pagina-item {% if pagina == i %} active {% endif %}"><a class="pagina-link" id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                                    {% else %}
                                                        {% set acabou = true %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if acabou == false %}
                                                    {% set adiantar = ( ( (pagina // 10) + 1 ) * 10 ) + 1 %}
                                                    <li class="pagina-item"><a class="pagina-link" id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                                                {% endif %}

                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function paginar(event, i) {
            event.preventDefault();
            document.getElementById("cargo_filter_pagina").value = i;
            $('#submitFiltro').click();
        }
        function filtrar(event) {
            event.preventDefault();
            document.getElementById("cargo_filter_pagina").value = 1;
            $('#submitFiltro').click();
        }
    </script>
{% endblock %}
