{% extends 'base.html.twig' %}

{% block title %}Edit Area{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li class="active"><a href="javascript:;">Editar Candidatos</a></li>
            </ol>
        </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Formulário</h4>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        {{ form_label(form.descricao, "Nome", { 'attr': { 'class': 'control-label'}} ) }}
                                        {{ form_errors(form.descricao) }}
                                        {{ form_widget(form.descricao, { 'attr': { 'class': 'form-control'}} ) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ include('area/_form.html.twig', {'button_label': 'Salvar'}) }}

                                    <a class="btn btn-inverse" href="{{ path('area_index') }}">Voltar</a>

                                    <a class="btn btn-danger" onclick="deletar();">Deletar</a>
                                </div>
                            </div>
                            {{ form_end(form) }}

                            {{ include('area/_delete_form.html.twig') }}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script>
        function deletar() {
            $("#deleteSubmit").click();
        }
    </script>
{% endblock %}
